@{
    ViewData["Title"] = "List";
}
<link href="~/css/vuemodal.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<div id="carts">
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-6 col-xs-12" style="margin-top:5%;">
        <div class="panel panel-default" style="color:darkblue;background-color:lightcyan; border-color: #d31313;">
            <div class="panel-title text-center">
            <br />
                <img src="../images/order.jpg" class="small-img" />
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr style="color: #312a2a;
    background: paleturquoise;">
                            <td>#</td>
                            <th class="text-center">Date</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr href="#" v-for="cart in carts" v-on:click="CartForModal=cart;loadAndShowModal();">
                            <td>{{cart.id}}</td>
                            <td>{{formatDate(cart.dateCreated)}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <modal v-if="showModal" v-on:close="showModal = false" :cart="CartForModal" :details="detailsForModal"></modal>
</div>
<script src="~/js/cartlist.js"></script>
<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" style="background-color: #d9edf7;">
                    <div class="modal-header">
                        <slot name="header">
                            <span class="row">
                                <button type="button" class="btn btn-link closeModalX pull-right" v-on:click="$emit('close')">
                                    X
                                </button>
                            </span>
                            <div class="row" style="top:-50px;position:relative">
                                <label class="col-xs-4 control-label">Cart:{{cart.id}}</label>
                                <label class="col-xs-7 text-right control-label">{{formatDate(cart.dateCreated)}}</label>
                            </div>
                            <span class="col-xs-12 text-center">
                                <img src="../images/cart.jpg" class="small-img" />
                            </span>
                        </slot>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <li class="list-group-item disabled row">
                                <span class="col-xs-2 text-center">Product</span>
                                <span class="col-xs-2">MSRP</span>
                                <span class="col-xs-2 ">QtyS</span>
                                <span class="col-xs-2">QtyO</span>
                                <span class="col-xs-2 ">QTyB</span>
                                <span class="col-xs-2">Extended</span>
                            </li>
                            <li v-for="detail in details" class="list-group-item row">
                      
                                <span class="col-xs-2 text-center">{{detail.productName}}</span>
                                <span class="col-xs-2">${{detail.msrp.toFixed(2)}}</span>
                                <span class="col-xs-2">{{detail.qtySold}}</span>
                                <span class="col-xs-2">{{detail.qtyOnHand}}</span>
                                <span class="col-xs-2">{{detail.qtyBackOrder}}</span>
                                <span class="col-xs-2">${{(detail.qtySold * detail.msrp).toFixed(2)}}</span>

                            </li>
                        </ul>
                        <div class="modal-footer">
                            <slot name="footer">
                                
                                    <div v-if="details[0]" class="text-right">
                                        <span class="col-xs-10">Sub$:</span>
                                        <span class="col-xs-2">{{details[0].orderAmount.toFixed(2)}}</span>
                                        <span class="col-xs-10">Tax$:</span>
                                        <span class="col-xs-2">{{(details[0].orderAmount * 0.13).toFixed(2)}}</span>
                                        <span class="col-xs-10">Total$:</span>
                                        <span class="col-xs-2">{{(details[0].orderAmount + details[0].orderAmount * 0.13).toFixed(2)}}</span>
                                   


                                </div>
                            </slot>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
