body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#a7c9e2;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
   
    color: black;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: auto;
   
}
.btn-default {
    background-color: #caf0f6;
   }

.branch-padding-10 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.googlemap {
    height: 70%;
    width: 100%;
    margin-top: -90px;
    min-height: 300px;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
